<main>
    <!--Main Container-->
    <div class="main">
        <!-- Sidebar -->
        <section class="dash-sidebar">
            <div class="user-info">
                <img class="profileImage"
                    src="/user-profile/<%= user.image %>"
                    alt="User Image">
                <h3>
                    <%= user.name %>
                </h3>
                <p>
                    <%= user.email %>
                </p>
            </div>
            <div class="dashboard-links">
                <ul>
                    <li>
                        <a href="/userDashboard" id="user_dashboard"
                            class="links">Dashboard</a>
                    </li>
                    <li>
                        <a href="/clients/transfer" id="transfer_cash"
                            class="links">Transfer
                            Money</a>

                    </li>
                    <li>
                        <a href="/clients/pay" id="pay_bills" class="links">Pay
                            Bills</a>
                    </li>
                    <li>
                        <a href="/clients/edit_profile" id="edit_profile"
                            class="links">Edit
                            Account</a>
                    </li>
                    <li>
                        <a href="/clients/ticket" id="ticket"
                            class="links">Ticket</a>
                    </li>
                    <li>
                        <a href="/clients/logout" class="links">Logout</a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Main Dashboard -->
        <section class="main-dashboard">
            <% if (route === '/userDashboard') { %>
            <%- include(__dirname + '/users/user_dashboard.ejs') %>
            <% } else if (route === '/clients/edit_profile') { %>
            <%- include(__dirname + '/users/edit_profile.ejs') %>
            <% } else { %>
            <%- include(__dirname + '/users/user_dashboard.ejs') %>
            
            <% } %>
        </section>
    </div>

    <!-- Deposit PopUp -->
    <%- include(__dirname + '/users/deposit.ejs') %>
    <!-- Withdrawal PopUp -->
    <%- include(__dirname + '/users/withdrawal.ejs') %>
</main>
<script>
    const userDashboard = document.getElementById('user_dashboard');
    userDashboard.classList.add('active');

    // var imageUrl = "/upload/user_profile/<%= user.image %>";
    // document.querySelector('.profileImage').src = imageUrl;
</script>

<script src="/js/dashboard.js"></script>