<div>
    <div class="user-hero">
        <h2>Welcome,
            <%= user.name %>
        </h2>
        <p>Account Number:
            <%= user.realAccountNo %>
        </p>
        <p>
            Account Status:
            <%= user.accountStatus %>
        </p>
    </div>
    <div class="account-status">
        <div class="account-info">
            <h3>
                <span>
                    Account Balance:
                </span>
                <%= user.balance %>
            </h3>
            <p>
                Type:
                <%= user.accountType %>
            </p>
        </div>
        <div class="account-actions">
            <a href="/accounts/transfer">Transfer Money</a>
            <a href="/userDashboard/paybills">Pay Bills</a>
            <a id="withdrawBtn">Withdraw</a>
            <a id="depositBtn">Deposit</a>
        </div>
    </div>
    <div>
        <h3>Recent Transactions</h3>
        <p>
            <b>NB: <i>The can be rearraged by clicking on the column headers (Date, Type, Description, Amount)</i></b>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Amount (KSH)</th>
                </tr>
            </thead>
            <tbody>
                <% if (transactions===null || transactions.length===0) { %>
                    <tr>
                        <td colspan="3" style="text-align: center;font-weight: bold;font-size: 24px;">No transactions
                            found</td>
                    </tr>
                    <% } else { transactions.forEach(transaction=> { %>
                        <tr>
                            <td>
                                <%= transaction.date %>
                            </td>
                            <td>
                                <%= transaction.transactionType %>
                            </td>
                            <td>
                                <%= transaction.description %>
                            </td>
                            <td>
                                <%= transaction.amount %>
                            </td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>
        <div class="pagination">
            <% if(totalPages>1) {
                for(let i=1; i <=totalPages; i++) { %>
                    <a href="/userDashboard?page=<%= i %>&itemsPerPage=<%= itemsPerPage %>">
                        <%= i %>
                    </a>
                    <% } %>
                        <% } %>
        </div>
    </div>
    <div>
        <h3>Account Settings</h3>
        <a href="/accounts/edit" class="btn">Edit Account</a>
        <a href="/accounts/delete" class="btn">Delete Account</a>
    </div>
</div>